body {
    padding-bottom: 20px;
    background-color: #FFFDF2;
    font-family: Trebuchet MS;
}

.main {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 2px 3px 7px #ccc;
    min-height: 300px;
    padding: 30px;
    margin-top: 20px;
}

.main input[type=radio] {
    margin: 10px;
}

input[type="text"] {
    margin: 7px 0;
    width: 300px;
}

#questionAndAnswers label {
    font-size: 20px;
}

.errorStyle {
    border: 1px solid red;
    box-shadow: 0px 0px 1px red;
}

#startTestBtn, #loginBtn, .nextQuestionBtn {
    color: #ffffff;
    background-color: green;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    font: 200 normal 18px arial;
    outline: none;
}

#startTestBtn:hover, #loginBtn:hover, .nextQuestionBtn:hover {
    background-color: #32cd32;
}

#start, #aboutTesting {
    margin: 10px 0;
    width: 100%;
    height: 60px;
    font-size: 21px;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    outline: none;
}

#buttons {
    width: 30%;
    margin-left: 35%;
}

#start:hover, #aboutTesting:hover {
    border: 2px solid #ccc;
    padding: 10px;
    color: #ffffff;
    background-color: #ccc;
    border-radius: 7px;
    outline: none;
}

.LoginForm {
    background-color: #ffffff;
    padding: 20px;
    height: 50%;
    margin-top: 25%;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-shadow: 3px 0px 3px #ccc;
}

.menu{
    font-size: 16px;
    font-weight: normal;
    background-color: grey; 
    height: 60px;
    padding: 5px;
    box-shadow: 0 3px 2px #cccccc;
    
}

.menu li a {
    color: #ffffff;
    margin-left: 20px;
}

.menu li a:hover {
    color: #808080;
    margin-left: 20px;
}

.adminQuestionDiv {
    padding: 10px;
    margin: 10px 0;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ECECEC;
    box-shadow: 2px 3px 4px #ccc;
}

.editDelIcons {
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
    color: #6F6F6F;
    margin: 0 3px;
}

.editDelIcons:hover {
    color: #000000;
}


input[type="radio"] {
    display:none;            
}
input[type="radio"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    background-image: url(../Content/Images/radio_off.png);
    background-repeat: no-repeat;
}
input[type="radio"]:checked + label::before {
    background-image: url(../Content/Images/radio_on.png);
}


#printBtn {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    background-image: url('Images/print.png');
    background-repeat: no-repeat;
}

@media print {
  body * {
    visibility: hidden;
  }
  #resultTable, #resultTable * {
    visibility: visible;
  }
  #resultTable {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.deleteResultBtn {
    color: #7B7B7B;
}

.deleteResultBtn:hover {
    color: red;
    text-decoration: none;
}